modules = ["java", "java-17"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Java Data Structures Project"

[[workflows.workflow]]
name = "Java Data Structures Project"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd $(pwd) && mvn compile exec:java -Dexec.mainClass=\"com.datastructures.Main\""

[deployment]
run = ["sh", "-c", "mvn compile exec:java -Dexec.mainClass=\"com.datastructures.Main\""]
